<div class="jumbotron">
    <p class="lead">
        <div>
            <h1>Lista sprintów</h1>
            <ul>
                <li ng-repeat="sprint in sprints">
                    <a href="/sprint/{{sprint.no}}">{{sprint.since}} - {{sprint.until}} | {{sprint.name}}</a>
                </li>
            </ul>
        </div>
    </p>
</div>
