<div class="jumbotron">
  <p class="lead">
  <div>
    <h1>Kto idzie?</h1>&nbsp;
    <div class="btn-group user-choose" role="group" >
      <a class="btn btn-default" ng-repeat='user in dictionary.users' href='#/user/{{user.userId}}/mood'>
        <img src="{{user.photoUrl}}" alt="{{user.name}}">
        <div>{{user.name}}</div>
      </a>
    </div>
</div>
  </p>
</div>
