  <div class="btn-group day-choose pull-right" role="group">
    <a ng-class='{active: dayMenuOption === dayMenuOptions.today}' class="btn btn-default btn-sm"
       ng-click='chooseDay(dayMenuOptions.today)'>
      Dziś
    </a>
    <a ng-class='{active: dayMenuOption === dayMenuOptions.yesterday}' class="btn btn-default btn-sm"
       ng-click='chooseDay(dayMenuOptions.yesterday)'>
      Wczoraj
    </a>
    <a class="btn btn-default btn-sm dropdown-toggle"
       ng-class='{active: dayMenuOption === dayMenuOptions.fromCalendar}'
       id="anotherDays" data-toggle="dropdown" aria-expanded="true">
      Wybierz... <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="anotherDays">
      <li role="presentation" ng-repeat="day in anotherDays">
        <a role="menuitem" href="javascript:void(0)"
           ng-click='chooseDay(dayMenuOptions.fromCalendar, day)'>{{day.format('dddd (YYYY-MM-DD)')}}</a>
      </li>
    </ul>
  </div>
<div class="jumbotron">
  <h1>{{ getCurrentUserName() }},<br>jak się {{dayLabel}} pracowało?</h1>
  <p class="lead">
      <p>
      <b>{{newMood.day.format('YYYY-MM-DD')}}</b>, Twoje samopoczucie było jak:
      </p>


    <div class="btn-group mood-choose" role="group">
      <a ng-class='{active: mood.value == newMood.value}'
         class="btn btn-default" ng-repeat='mood in moods' ng-click='chooseMood(mood.value)'>
        <img src="{{mood.img}}">

        <div ng-bind-html="mood.name"></div>
      </a>
    </div>
    <div class="button-bar">
      <br/>
      <a class="btn btn-primary" ng-click="save()">Zapisz</a>
    </div>
    <a class="btn btn-sm pull-right" href="#/user/{{newMood.userId}}/average">Pokaż mój średni nastrój</a>
  </p>
</div>
